{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{# After password reset via link (key). Uses account/base.css + password_reset_from_key_done.css. #}

{% block css %}
    <link rel="stylesheet" href="{% static 'account/base.css' %}">
    <link rel="stylesheet" href="{% static 'account/password_reset_from_key_done.css' %}">
{% endblock %}

{% block content %}
<div class="Account-card Account-card--passwordResetKeyDone">
    <div class="Account-icon Account-icon--success" aria-hidden="true">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="20 6 9 17 4 12"/>
        </svg>
    </div>
    <h1 class="Account-title">{% translate "Password updated" %}</h1>
    <a href="{% url 'account_login' %}" class="Account-submit Account-submit--link">{% translate "Log in" %}</a>
</div>
{% endblock %}



