{% extends 'popup.html' %}
{% block popup_id %}edit-role-popup{% endblock %}
{% block popup_title_id %}edit-role-popup-title{% endblock %}
{% block popup_title_id_h2 %}edit-role-popup-title{% endblock %}
{% block popup_title %}Edit role: <span id="ws-editing-role-name"></span>{% endblock %}
{% block popup_content %}
  <div class="WsSettings-editRolePanel WsSettings-editRolePanel--inPopup">
    {% for role in workspace.roles.all %}
      <form class="WsSettings-editRoleForm" method="post" data-role-id="{{ role.id }}" data-url="{% url 'workspace:edit_role' workspace.id role.id %}" hidden>
        {% csrf_token %}
        <div class="WsSettings-field">
          <label for="ws-edit-role-name-{{ role.id }}">Role name</label>
          <input type="text" name="name" id="ws-edit-role-name-{{ role.id }}" class="WsSettings-input Popup-input" maxlength="100" required value="{{ role.name }}">
        </div>
        <div class="WsSettings-field">
          <span class="WsSettings-editRolePermLabel">Permissions</span>
          <div class="WsSettings-toggleList">
            <label class="WsSettings-toggle"><input type="checkbox" name="can_edit_workspace_name" {% if role.can_edit_workspace_name %}checked{% endif %}><span class="WsSettings-toggleLabel">Can edit workspace name</span></label>
            <label class="WsSettings-toggle"><input type="checkbox" name="can_add_workspace_users" {% if role.can_add_workspace_users %}checked{% endif %}><span class="WsSettings-toggleLabel">Can add users</span></label>
            <label class="WsSettings-toggle"><input type="checkbox" name="can_remove_workspace_users" {% if role.can_remove_workspace_users %}checked{% endif %}><span class="WsSettings-toggleLabel">Can remove users</span></label>
            <label class="WsSettings-toggle"><input type="checkbox" name="can_assign_roles_to_workspace_users" {% if role.can_assign_roles_to_workspace_users %}checked{% endif %}><span class="WsSettings-toggleLabel">Can assign roles to users</span></label>
            <label class="WsSettings-toggle"><input type="checkbox" name="can_edit_workspace_roles" {% if role.can_edit_workspace_roles %}checked{% endif %}><span class="WsSettings-toggleLabel">Can edit roles</span></label>
            <label class="WsSettings-toggle"><input type="checkbox" name="can_edit_workspace_invite_codes" {% if role.can_edit_workspace_invite_codes %}checked{% endif %}><span class="WsSettings-toggleLabel">Can edit invite codes</span></label>
            <label class="WsSettings-toggle"><input type="checkbox" name="can_edit_projects" {% if role.can_edit_projects %}checked{% endif %}><span class="WsSettings-toggleLabel">Can edit projects</span></label>
            <label class="WsSettings-toggle"><input type="checkbox" name="can_edit_groups" {% if role.can_edit_groups %}checked{% endif %}><span class="WsSettings-toggleLabel">Can edit groups</span></label>
            <label class="WsSettings-toggle"><input type="checkbox" name="can_edit_tasks" {% if role.can_edit_tasks %}checked{% endif %}><span class="WsSettings-toggleLabel">Can edit tasks</span></label>
            <label class="WsSettings-toggle"><input type="checkbox" name="can_assign_tasks_to_users" {% if role.can_assign_tasks_to_users %}checked{% endif %}><span class="WsSettings-toggleLabel">Can assign tasks to users</span></label>
            <label class="WsSettings-toggle"><input type="checkbox" name="can_add_task_comments" {% if role.can_add_task_comments %}checked{% endif %}><span class="WsSettings-toggleLabel">Can add comments</span></label>
            <label class="WsSettings-toggle"><input type="checkbox" name="can_edit_task_deadline" {% if role.can_edit_task_deadline %}checked{% endif %}><span class="WsSettings-toggleLabel">Can edit task deadline</span></label>
          </div>
        </div>
        <small class="WsSettings-error WsSettings-editRoleError" data-role="edit-role-error" hidden>Could not update role. Please check the name is unique and try again.</small>
        <div class="WsSettings-actions WsSettings-actions--right"><button type="submit" class="WsSettings-btn WsSettings-btnPrimary Popup-submit">Save changes</button></div>
      </form>
    {% endfor %}
  </div>
{% endblock %}
