{% extends 'popup.html' %}
{# Popup: success message after requesting password reset/set. Opened by accounts/dashboard.js. #}

{% block popup_id %}reset-password-popup{% endblock %}
{% block popup_title_id %}reset-password-popup-title{% endblock %}
{% block popup_title_id_h2 %}reset-password-popup-title{% endblock %}
{% block popup_title %}Set up password{% endblock %}

{% block popup_content %}
    <p class="Popup-successText">A password setup link has been sent. Please check your inbox.</p>
{% endblock %}
